---
title: Welcome to MOPCON
---

<header class="header">
	<div class="circle-logo"></div>
	<img src="images/logo_header@2x.png" height="" width="500" alt="" class="img-responsive center-block super-idx">
</header>

<div class="bucket-panel bg-transparent-black">
	<div class="bucket-row text-white">
		<i class="bucket-icon ton-li-mustache"></i>
		<h3 class="bucket-title">贊助</h3>
		<div>Sponsor</div>
	</div>
	<div class="container-lg">
		<h2 class="text-white text-center mbxl">爆漿包</h2>
		<div class="column-layout column-2">
			<% 3.times do %>
				<div class="column" >
					<div class="card">
						<h3 class="card-head">
							<img src="http://mopcon.org/2014/images/sponsor/ms.jpg" alt="" class="img-responsive mbl">
						</h3>
						<div class="card-body">
							<h4>
								<%= lorem.name %>
								<small>頭銜</small>
							</h4>
							<a href="#"><%= lorem.name %></a> <small>頭銜</small>
							<% 2.times do %>
							<p><%= lorem.paragraph %></p>
							<% end %>
							<hr>
							<div class="text-right">
								<a href="#">臉書嗎？</a>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>

		<h2 class="text-white text-center mbxl">肌肉男</h2>
		<div class="column-layout column-3">
			<% 3.times do %>
				<div class="column" >
					<div class="card">
						<h3 class="card-head">
							<img src="http://mopcon.org/2014/images/sponsor/ms.jpg" alt="" class="img-responsive mbl">
						</h3>
						<div class="card-body">
							<h4>
								<%= lorem.name %>
								<small>頭銜</small>
							</h4>
							<a href="#"><%= lorem.name %></a> <small>頭銜</small>
							<% 2.times do %>
							<p><%= lorem.paragraph %></p>
							<% end %>
							<hr>
							<div class="text-right">
								<a href="#">臉書嗎？</a>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>

		<h2 class="text-white text-center mbxl">腐女</h2>
		<div class="column-layout column-4">
			<% 4.times do %>
				<div class="column" >
					<div class="card">
						<h3 class="card-head">
							<img src="http://mopcon.org/2014/images/sponsor/ms.jpg" alt="" class="img-responsive mbl">

						</h3>
						<div class="card-body">
							<h4>
								<%= lorem.name %>
								<small>頭銜</small>
							</h4>
							<a href="#"><%= lorem.name %></a> <small>頭銜</small>
							<p><%= lorem.paragraph %></p>
							<hr>
							<div class="text-right">
								<a href="#">臉書嗎？</a>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>

		<h2 class="text-white text-center mbxl">小鮮肉</h2>
		<div class="column-layout column-5">
			<% 8.times do %>
				<div class="column" >
					<div class="card">
						<h3 class="card-head">
							<img src="http://mopcon.org/2014/images/sponsor/ms.jpg" alt="" class="img-responsive mbl">

						</h3>
						<div class="card-body">
							<h4>
								<%= lorem.name %>
								<small>頭銜</small>
							</h4>
							<a href="#"><%= lorem.name %></a> <small>頭銜</small>
							<p><%= lorem.sentence %></p>
							<hr>
							<div class="text-right">
								<a href="#">臉書嗎？</a>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>

		<h2 class="text-white text-center mbxl">玉女</h2>
		<div class="column-layout column-6">
			<% 8.times do %>
				<div class="column" >
					<div class="card">
						<h3 class="card-head">
							<img src="http://mopcon.org/2014/images/sponsor/ms.jpg" alt="" class="img-responsive mbl">

						</h3>
						<div class="card-body">
							<h4>
								<%= lorem.name %>
								<small>頭銜</small>
							</h4>
							<a href="#"><%= lorem.name %></a> <small></small>
							<hr>
							<div class="text-right">
								<a href="#">臉書嗎？</a>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>


	</div>
</div>


